body {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    height: 100%;
}

.learnable-computer {
    height: 100%;
}

.editor {
    display: inline-block;
    width: 50%;
    height: 100%;
    background: #333;
}

.cube {
    display: inline-block;
    width: 50%;
    height: 100%;
}

.cube > .display {
    background: #444;
    height: 100%;
}

.cube > .display > .screen {
    position: relative;
    top: 100px;
    margin: 0 auto;
    background: #efefef;
    box-shadow: 0 2px 3px 2px #222;
}

.cube > .interface {
    background: #444;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.cube > .interface > .toolbar {
    overflow: hidden;
    background: #ddd;
    font-size: 1em;
    width: 100%;
    box-shadow: 0 2px 3px 2px #222;
}

.toolgroup {
    margin: 10px;
    display: inline-block;
}

.toolgroup.left {float:left;}
.toolgroup.right {float:right;}

.button {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 2em;
    padding: 10px;
    color: #fff;
    display: inline-block;
    background: #222;
}

.button.active {
    background: #555;
}

.clock-speed {
    padding: 10px;
    text-align: center;
    background: #ddd;
}

.inspector {
    background: #efefef;
    overflow: hidden;
}

.state .attribute > .name {
    font-style: bold;
}

.timeline {
    height: 5em;
    margin: 0;
    background: #222;
    box-shadow: inset 0 2px 3px 2px #222;
    overflow-x: scroll;
    display: table;
}

.timeline li {
    height: 100%;
    display: table-cell;
    vertical-align: center;
}

.timeline-entry a {
    position: relative;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    box-shadow: 0 2px 3px 1px #222;
}
.timeline-entry a.clock {top: 0;}
.timeline-entry a.mouse {top: 1em;}
.timeline-entry a.keyboard {top: 2em;}

.state {
    background: #efefef;
}
