body {
    height: 100%;
}

.learnable-computer {
    height: 100%;
}

.editor {
    float: left;
    width: 50%;
    height: 100%;
    background: #333;
}

.cube {
    float: left;
    width: 50%;
    height: 100%;
}

.cube > .display {
    background: #444;
    height: 100%;
}

.cube > .display > .screen {
    position: relative;
    top: 100px;
    margin: 0 auto;
    background: #ddd;
    border-style: inset;
    border-width: 2px;
    border-color: #222;
}

.cube > .interface {
    position: fixed;
    bottom: 0px;
}

.cube > .interface > .toolbar {
    background: #aaa;
}

.toolgroup {
    display: inline-block;
}

.button {
    margin: 5px;
    height: 2em;
    font-size: 1.5em;
    color: #fff;
    display: inline-block;
    background: #222;
}

.clock-speed {
    background: #ddd;
}

ul.timeline {
    height: 200px;
    overflow-x: scroll;
}

ul.timeline > li {
    display: inline-block;
}
