body {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    height: 100%;
}

.learnable-computer {
    height: 100%;
}

.editor {
    display: inline-block;
    width: 50%;
    height: 100%;
    background: #333;
}

.cube {
    display: inline-block;
    width: 50%;
    height: 100%;
}

.cube > .display {
    background: #50608F; /* Baby blue */
    height: 100%;
}

.cube > .display > .screen {
    position: relative;
    top: 100px;
    margin: 0 auto;
    background: #efefef;
    box-shadow: 0 2px 3px 2px #222;
}

.cube > .interface {
    background: #444;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.cube > .interface > .toolbar {
    overflow: hidden;
    background: #061339; /* NAVYISH BLUE */
    font-size: 1em;
    width: 100%;
    box-shadow: 0 2px 3px 2px #aaa;
}

.toolgroup {
    margin: 10px;
    display: inline-block;
}

.toolgroup.left {float:left;}
.toolgroup.right {float:right;}

.button {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 2em;
    padding: 10px;
    color: #222;
    display: inline-block;
    background: #fff;
}

.button.active {
    background: #555;
}

.clock-speed {
    padding: 10px;
    text-align: center;
    background: #ddd;
}

.inspector {
    background: #efefef;
    overflow: hidden;
}

.state .attribute > .name {
    font-style: bold;
}

.timeline {
    background: #162656; /* PUNK ROCK BLUE */
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 2px 3px 2px #aaa;
    overflow-x: scroll;
    list-style-type: none;
}

.timeline li {
    height: 100%;
    display: block;
    position: absolute;
    padding: 0;
}

.timeline-entry {
    display: block;
    position: relative;
    margin: 0;
    background: #444;
    box-shadow: inset 0 1px 2px 1px #222;
}

.timeline > li:hover .timeline-entry {
    z-index: 5;
    background: #F06A5D;
}

.state {
    background: #efefef;
}
